<meta charset="UTF-8">
<style>

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 5px 0 0 15px;
}

/* ~~ This fixed width container surrounds all other blocks ~~ */
.container {
	width: 85%;
	background: #FFFFFF;
	margin: 0 auto;
}
/* ~~ The header is not given a width. It will extend the full width of your layout. ~~ */
header {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-style: oblique;
	color: #FFF;
	background-color: #FFFFFF;
	background-image: url(images/headerbg.jpg);
}

.sidebar1 {
  float: right;
	width: 35%;
	padding: 10px;
	background-color: #f3f3f3
}
.content {
	width: 60%;
	padding: 10px;
  overflow: auto;
}


/* ~~ The footer ~~ */
footer {
	padding: 5px 0;
	height: 50px;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	background-color: #000066;
	background-image: url(images/headerbg.jpg);
}

/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
header, section, footer, aside, nav, article, figure {
	display: block;
}
.darken {
	color: #999;
}
</style>


<script src="pidcrypt.js"></script>
<script src="everything.js"></script><!--needed for parsing decrypted rsa certificate-->
<script src="rng.js"></script><!--needed for rsa key generation-->
<script src="prng4.js"></script><!--needed for rsa key generation-->
<script src="rsa.js"></script><!--needed for rsa en-/decryption-->
<script src="pagefunction.js"></script>


<!-- The Large outter box -->
<div class="container">
  <header>
    <h1>SAD<span class="darken">CS</span></h1>
    <h6>Secure Anonymous Decentralized <span class="darken">Communication System</span></h6>
  </header>
<!-- Ruby Form Post -->
  <div style="display:none">
    <%= form_for @message, :html => {:id => 'msgForm'} do |form| %>
      <%= form.text_field :body %>
      <%= form.submit %>
    <% end %>
  </div>
<!-- Form For Pub/Pri Keys and Text -->
  <div class="sidebar1">
    <aside>
        <form name="theForm">
          <p>Your Private Key</p>
      		<table>
            <tr>
              <td>
      				  <div id="prigood"></div>
              </td>
              <td>
      					<input id="private_key_file" type="file" name="private_key_file" onChange="readPrivateAndDecrypt()" />
              </td>
            </tr>
          </table>
          <p>Friend's Public Key</p>
      		<table>
            <tr>
              <td>
            	  <div id="pubgood"></div>
              </td>
             	<td>
       				  <input id="public_key_file" type="file" name="public_key_file" onChange="startPubRead()" />
              </td>
            </tr>
          </table>
          <p>Message to Friend</p>
          <textarea name="input" cols="40" rows="6">Text to encrypt.</textarea> 
          <button type="button", onclick="encryptMsg()"> Encrypt and Submit </button><br/>
          <div style="display:none">
		        <input value="Encrypt" onclick="compute('encrypt');" type="BUTTON" id="encryptButton">
		        <input value="Decrypt" onclick="decrypt();" type="BUTTON" id="decryptButton"><a name="results"></a>
		        <div id="ENCRYPT"></div><br>
		        <div id="DECRYPT"></div><br>
		        <div id="DEBUG"></div><br>
	        </div>     
       </form>
    </aside>
  </div>
<!-- Main Window where Messages are printed -->
  <article class="content">
    <h1>Messages</h1>
      <table class="messages" id="messages">
    		<col class="body" />
    		<% @messages.each do |message| %>
      	  <%= render 'message', :message => message %>
    		<% end %>
  		</table>
  </article>
 
  <footer>
  </footer>
</div>
